# Debes colocar este archivo en .ebextensions
# Y debes tener un nombre de archivo .config 
# Así que el archivo está en .ebextensions/environment-variables.config

option_settings:
  # Ver: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-elasticbeanstalkapplicationenvironment
  aws:elasticbeanstalk:application:environment:
    DB_URL: "jdbc:postgresql://rds-url-here.com/db"
    DB_USER: username

# Este formato también funciona:
# option_settings:
#   - namespace:  namespace
#     option_name:  option name
#     value:  option value

# Ver: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions-optionsettings.html